body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.calculator {
    background: yellowgreen;
    padding: 20px;
    border-radius: 12px;
    width: 260px;
    overflow: hidden;
   
}

#displays {
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 10px;
    border-radius: 8px;
    border: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 15px;
    
}

button {
    height: 55px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    width: 57px;
    cursor: pointer;
    margin-bottom: 5px;
}

button:hover {
    background-color: #c8ffd4;
}

#history {
    font-size: 14px;
    min-height: 40px;
    margin-bottom: 8px;
    color: #49179a;
    overflow-y: auto;
    border: 1px solid black;
    display: none;
    

}
