body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.calculator{
    width:400px ;
    background-color: greenyellow;
    overflow: hidden;
    border-radius: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 12px;
    gap: 8px;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    
    border: none;
    color:lightgreen ;
    font-size: 30px;
    font-weight: 600;
    cursor:pointer ;

}
button:hover{
    background-color: red;;
}

input{
   width: 100%; 
   height: 120px;
   background-color: lightcoral;
   border: none;
   color: black;
   font-size: 50px;
   font-weight: bolder;
}
.btn{
    background-color: hsl(243, 92%, 34%);

}
.btn:hover{
    background-color: hsl(237, 100%, 65%);
}

